body {
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(62, 35, 71, 0.469);
    border-radius: 20px;
    border: 3px solid #ac7b1100;
    height: 20px;
}

body::-webkit-scrollbar-track {
    background: #000000f0;
    width: 1px;
}

main {
    border: ridge rgba(178, 55, 231, 0.501) 2px;
    animation-name: borda;
    animation-delay: 6s;
    animation-duration: 47s;
    animation-iteration-count: infinite;
}

ul {
    background-color: rgba(7, 5, 5, 0.877);
    border-radius: 90px;
    border-left-style: dotted;
    border-right-style: dotted;
    border-color: rgba(255, 255, 255, 0.336);

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 270px;
    padding: 0%;
    list-style: none;
}

#logo {
    width: 280px;
}

#iconeImagem {
    width: 200px;
    display: flex;
    justify-content: center;
}

#iconeImagemdnv {
    filter: brightness(50%);
    width: 65px;
}

#iconeCalendario {
    cursor: auto;
    width: 87px;
}

#calendario {
    width: inherit;
    filter: brightness(50%);
    display: flex;
    flex-direction: column;
    margin: auto 0px;
    height: fit-content;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.002);
}
.calendario{
    filter: brightness(90%);
    transition: 0.6s;
    cursor: pointer;
    transition: 0.6s;
    color: aliceblue;
}
#date {
    background-color: rgba(99, 41, 41, 0);
    color: rgba(255, 255, 255, 0.695);
    border: 0px;
    font-size: 27px;
    margin: auto;
    width: fit-content;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8) brightness(90%) sepia(10%) saturate(1000%) hue-rotate(20deg);
}
#button{
    background-color: transparent;
}
#calendario:hover,
#iconeImagemdnv:hover {
    filter: brightness(90%);
    transition: 0.6s;
    cursor: pointer;
    color: aliceblue;
}

#imagem {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

#imagem>img {
   
background-size: contain;
    border-radius: 20px;
}

h3,
h4,
#explanation {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    background: radial-gradient(rgba(0, 0, 0, 0.725), rgba(0, 0, 0, 0.672), rgba(0, 0, 0, 0.721));
    font-size: 24px;
    text-align: center;
    letter-spacing: 3px;
    margin: auto;
}

#dataPalavra,
#notePalavra {
    text-decoration: overline rgba(136, 112, 70, 0.579);

}

#dataPalavra:hover 
{

    text-decoration: overline rgba(136, 112, 70, 0.3);
    color: aqua;
    transition: 0.4s;
}

#notePalavra:hover {
    text-decoration: overline rgba(136, 112, 70, 0.3);
    color: aqua;
    transition: 0.4s;
}

@keyframes borda {
    0% {
        border: ridge rgba(0, 0, 255, 0.375) 2px;

    }

    40% {
        border: ridge rgba(245, 114, 197, 0.478) 2px;
    }

    50% {
        border: ridge rgba(0, 128, 0, 0.374) 2px;
    }

    60% {
        border: ridge rgba(0, 128, 105, 0.508) 2px;
    }

    65% {
        border: ridge rgba(0, 0, 255, 0.081) 2px;
    }

    70% {
        border: ridge rgba(73, 0, 128, 0.498) 2px;
    }

    80% {
        border: ridge rgba(128, 119, 0, 0.546) 2px;
    }

    100% {
        border: rgba(91, 6, 6, 0.612) ridge 2px;
    }
}