body {
    margin: 0%;
    padding: 0%;
 background-color: black;
   
    color: rgb(255, 255, 255);
}

#imagem {
    margin-top: 1%;
    display: flex;
   justify-content: center;
}

#imagem>img {
 width: 900px;
 border-radius: 20px;
}
main{

    /* background-image:url('https://images.pexels.com/photos/8022693/pexels-photo-8022693.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load') ;
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat; */
}
section>p {
    /* overflow-y: scroll; */
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    /* background-image:url('https://www.pexels.com/pt-br/foto/planeta-terra-220201/') ; */
    
    background: radial-gradient(rgba(0, 0, 0, 0.725), rgba(0, 0, 0, 0.672), rgba(0, 0, 0, 0.721));
    font-size: 30px;

    letter-spacing: 3px;
    border: ridge rgba(178, 55, 231, 0.501) 2px;
    animation-name: borda;
    animation-delay: 6s;
    animation-duration: 47s;
    animation-iteration-count: infinite;
}

ul {
    background-color: rgba(7, 5, 5, 0.877);
    border-radius: 20px;
    height: 40px;
    align-items: center;
    padding: 0%;
    list-style: none;
    display: flex;

    justify-content: space-evenly;

    padding: 5px 0px;
    border: dotted rgba(0, 0, 255, 0.081) 2px;
    animation-name: borda;
    animation-delay: 6s;
    animation-duration: 47s;
    animation-iteration-count: infinite;
}

#calendario {
    margin: auto 0px;
    height: 22px;
    border: 1px solid rgba(255, 255, 255, 0.002);
}

#date {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 0px;
    font-size: 20px;
    margin: auto;
}

.icones:hover {
    background-color: rgba(1, 20, 33, 0.589);
    transition: 0.6s;
    border-radius: 6px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8) brightness(1000%) sepia(1%) saturate(1000%) hue-rotate(20deg);
}

#date:hover {
    cursor: pointer;
    background-color: rgba(1, 21, 14, 0.42);
    transition: 0.6s;
}

@keyframes borda {
    0% {
        border: ridge rgba(0, 0, 255, 0.501) 2px;
    }

    40% {
        border: ridge rgba(245, 114, 197, 0.618) 2px;
    }

    50% {
        border: ridge rgba(0, 128, 0, 0.521) 2px;
    }

    60% {
        border: ridge rgba(0, 128, 105, 0.508) 2px;
    }

    65% {
        border: ridge rgba(0, 0, 255, 0.081) 2px;
    }

    70% {
        border: ridge rgba(73, 0, 128, 0.612) 2px;
    }

    80% {
        border: ridge rgba(128, 119, 0, 0.546) 2px;
    }

    100% {
        border: rgba(91, 6, 6, 0.612) ridge 2px;
    }
}