<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icones -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="home.css">
    <title>Picture Day</title>
</head>
<!-- 2017-01-07 -->
<body>

    <header>
        <ul>
            <li id="calendario">
                <img id="iconeCalendario"
                    src="https://www.reshot.com/preview-assets/icons/XKRBJ7E6WC/schedule-XKRBJ7E6WC.svg" alt="">
                <input id="date" type="date" >
                <button id="button">.</button>
            </li>
            <li>
                <img id="logo" src="img/Bege Flor Superminimalismo Texto Curvado Logotipo.png" alt="">
            </li>
            <li id="iconeImagem">
                <a href="/history">
                    <img id="iconeImagemdnv"
                        src="https://www.reshot.com/preview-assets/icons/XCG3UAVP6Z/note-XCG3UAVP6Z.svg" alt="">
                </a>
            </li>
        </ul>
    </header>
    <main>
        <section id="imagem">
            <img id="apiImagem" src="" alt="">
        </section>
    </main>


    <script>
        const button = document.getElementById('button');
        // const dateInput = document.getElementById('date');
        button.addEventListener("click", ()=>{api()});

        async function api(){
            const key = '7r4h5XIPQTRWXCg7yDfCGdAyPP8Qslu8wUud3tXf';
            const dateInput = document.getElementById('date').value;
            const data = await fetch (`https://api.nasa.gov/planetary/apod?api_key=${key}&date=${dateInput}`);
            const result = await data.json();
            
            const dados = result;
            console.log(result);
            usarApi(dados);
        }
        function usarApi(dados){
           document.querySelector('#apiImagem').innerHTML = dados.explanation;
           document.querySelector("#apiImagem").innerHTML += `<img src="${dados.url}">`;
        }

    </script>
</body>

</html>